@import "tailwindcss";

:root {
  --color-primary: #1F2A44;
  --color-background: #F6F3EE;
  --color-beige: #E7DFD2;
  --color-accent: #B89B5E;
  --color-border: #D6D2CB;
  --color-text-secondary: #5B6472;
}


body {
  background: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 5rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }
}